<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {% include "emp/navbar.html" %}
    <h1 class='text-center my-3'>Add Employee</h1>

    <!-- Optional JavaScript; choose one of the two! -->
    <form action="/emp/do-update"  method="POST">
      {% csrf_token %}
        <div class="mb-3">
          <label for="name" >Employee Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="emp_name" value="{{emp.name}}">
          
        </div>
        <div class="mb-3">
          <label for="id" class="form-label">Employee Id</label>
          <input type="Text" class="form-control" id="id" name="emp_id" value="{{emp.id}}">
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Employee phone</label>
          <input type="Text" class="form-control" id="phone" name="emp_phone" value="{{emp.phone}}">
        </div>

        <div class="mb-3">
          <label for="adress" class="form-label">Employee adress</label>
          <textarea  id="adress" cols="30" rows="10" class="form-control" name="emp_adress" >{{emp.adress}}</textarea>
        </div>

        <div class="mb-3 form-check" >
          <label for="working">working</label>
          <input {% if emp.working %} checked {% endif %} id="working" type="checkbox"  class="form-check-input" name="emp_working" value="{{emp.working}}">
        </div>

        <div class="mb-3">
          <label for="depertment" class="form-label">depertment</label>
          <select  id="depertment" name="emp_depertment" value="{{emp.depertment}}"> 
            <option value="CSE">CSE</option>
            <option value="CHE">CHE</option>
            <option value="EE">EE</option>
          </select>
        </div>

        
        
        
        <button type="submit" class="btn btn-success">Update Employee</button>
      </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>