<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>This is about page</h1>
    
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nemo ea,
      tempore accusantium ipsam illum adipisci sunt vero perferendis nesciunt
      vitae praesentium. Autem, praesentium. Quia repellat quaerat reiciendis
      atque nisi.
    </p>
  </body>
</html>
